<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/inicio">Farma Stock</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="userLoginOn">
        <li class="nav-item" >
          <a class="nav-link active" routerLink="/proveedor/lista">Proveedor</a>
        </li>
        <li class="nav-item" *ngIf="userLoginOn">
          <a class="nav-link active" routerLink="/producto/listar">Producto</a>
        </li>
        <li class="nav-item" *ngIf="userLoginOn" >
          <a class="nav-link active" routerLink="/solicitud/lista">Solicitud</a>
        </li>
      </ul>
    </div>
    <div>
      <app-personal-details></app-personal-details>
    </div>
  </div>
</nav>
